<div id="newsfeed" class="feed">
	<div class="headline-wrap">

	<a href="https://medium.com/browse/top" class="link-wrap">
		<h1 class="headline"> {{title}} </h1>
	</a>
	
	</div>

	{{#each results}}
	<div class="feed-item box" data-mongodb-id="{{this._id}}">
		{{!-- <div class="text-section"> --}}
			<div class="title-row">
				<a href="{{this.link}}" class="link-wrap article-title">
					{{this.title}}
				</a>
				{{!-- <div class="save-wrap"> --}}
					<a href="#" class="save-item" data-save-status="{{this.saved}}">
						<i class="fa fa-star"></i>
					</a>
				{{!-- </div> --}}
			</div>
			<div class="meta-wrap">
				<a href="{{this.author_profile}}" class="author">{{this.author}}</a>
				<p class="publication_date">{{this.date}}</p>
			</div>
		{{!-- </div> --}}

		{{!-- <div class="thumbnail-section">
			<a href="{{this.link}}" class="link-wrap thumbnail-wrap">
				<img src="{{this.thumbnail}}" alt="{{this.title}}">
			</a>
		</div> --}}
	</div>
	{{/each}}
</div>