<div id="newsfeed" class="feed">
	<div class="headline-wrap">

	<a href="https://medium.com/browse/top" class="link-wrap">
		<h1 class="headline"> {{title}} </h1>
	</a>
	
	</div>

	{{#each results}}
	<div class="feed-item box" data-mongodb-id="{{this._id}}">
		{{!-- <div class="text-section"> --}}
			<div class="title-row">
				<a href="{{this.link}}" class="link-wrap article-title">
					{{this.title}}
				</a>
				{{!-- <div class="save-wrap"> --}}
				{{!-- </div> --}}
			</div>
			<div class="details-row">

				<div class="meta-wrap">
					<a href="{{this.author_profile}}" class="author">{{this.author}}</a>
					<p class="publication_date">{{this.date}}</p>
				</div>
				<div class="actions-wrap">
					<a href="#!" class="save-item" data-save-status="{{this.saved}}">
						<i class="fa fa-star"></i>
					</a>
					<a href="/api/comments/{{this._id}}" class="toggle-comments">
						<i class="fa fa-comment"></i>
					</a>
				</div>
			</div>
			<div class="below-fold"></div>
		{{!-- </div> --}}

		{{!-- <div class="thumbnail-section">
			<a href="{{this.link}}" class="link-wrap thumbnail-wrap">
				<img src="{{this.thumbnail}}" alt="{{this.title}}">
			</a>
		</div> --}}
	</div>
	{{/each}}

	<section id="comments-section" class="" data-mongodb-id="">
		<div class="container">
		<div id="posted-comments">
			<div class="comment notification is-primary" data-comment-id="asdfadsfdfdadsf">
				<p class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				<a href="#!" class="remove-comment">
					<i class="fa fa-close"></i>
				</a>
			</div>
		</div>
		<div id="new-comment-area">
			<h4>Leave your comment here:</h4>
			<textarea id="new-comment" placeholder="Comment here"></textarea>
			<a id="submit-comment" href="#!" class="button is-info">Submit</a>
			</div>
		</div>
		<a id="close-section" class="button is-danger is-outlined" href="#!">
			<i class="fa fa-close"></i>
		</a>
	</section>
</div>